name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-22.04
    permissions:
      contents: read
    strategy:
      matrix:
        go-version: ['1.22.x', '1.21.x']

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version }}

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y qemu-kvm qemu-utils libmnl-dev genext2fs

    - name: Install test coverage tools
      run: |
        curl --retry 5 -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
        chmod a+x ./cc-test-reporter
        sudo -E env "PATH=$PATH" ./cc-test-reporter before-build
        go install github.com/mattn/goveralls@latest

    - name: Build gokvm
      env:
        GOFLAGS: "-buildvcs=false"
      run: sudo -E env "PATH=$PATH" make gokvm

    - name: Run tests
      env:
        GOFLAGS: "-buildvcs=false"
      run: sudo -E env "PATH=$PATH" make test

    - name: Upload coverage to Coveralls
      if: matrix.go-version == '1.22.x'
      env:
        COVERALLS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: sudo -E env "PATH=$PATH" goveralls -service=github -coverprofile c.out

    - name: Upload coverage to CodeClimate
      if: matrix.go-version == '1.22.x'
      env:
        CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
      run: |
        if [ -n "$CC_TEST_REPORTER_ID" ]; then
          sudo -E env "PATH=$PATH" ./cc-test-reporter after-build
        fi

    - name: Clean up
      if: always()
      run: sudo -E env "PATH=$PATH" make clean

  deploy:
    runs-on: ubuntu-22.04
    needs: test
    if: startsWith(github.ref, 'refs/tags/')
    permissions:
      contents: write

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.22.x'

    - name: Run GoReleaser
      uses: goreleaser/goreleaser-action@v5
      with:
        version: latest
        args: release --clean
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
